# Basic Statistics

## Load Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!ls drive/MyDrive/crs

CRS_2016_data_short.csv  crskor2011_2020.csv  glove.840B.300d.txt
crs_final_df_kor.csv	 data

In [ ]:
counting = pd.read_csv("drive/MyDrive/crs/crs_final_df_kor.csv", header = 0)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (6,58,59,90,91) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
counting.shape

(70269, 94)

In [ ]:
counting.head(5)

,Unnamed: 0,Year,DonorCode,DonorName,AgencyCode,AgencyName,CrsID,ProjectNumber,InitialReport,RecipientCode,...,USD_Outstanding,USD_Arrears_Principal,USD_Arrears_Interest,CapitalExpend,PSIflag,PSIAddType,PSIAddAssess,PSIAddDevObj,LDCflag,LDCflagName
0,0,2020,742.0,Korea,2.0,Export-Import Bank of Korea,2019145042,18ED00039,3.0,640.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020,742.0,Korea,4.0,Korea International Cooperation Agency,2018124404,2018040156649,3.0,266.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020,742.0,Korea,99.0,Miscellaneous,2020003193f,GRP_0000143015_691,8.0,454.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2020,742.0,Korea,4.0,Korea International Cooperation Agency,2019155555,2019040103056,3.0,285.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2020,742.0,Korea,4.0,Korea International Cooperation Agency,2019155051,2019040103575,3.0,728.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
counting.PurposeCode.unique()

array([12230., 31120., 11420., 22010., 31161., 23630., 33110., 12240.,
       43040., 12264., 31163., 11110., 99810., 43030., 11320., 11120.,
       12220., 31320., 32182., 24010., 16061., 15170., 15110., 31181.,
       11430., 11330., 16010., 12110., 15250., 11220., 23320., 41082.,
       72010., 15111., 24081., 43060., 31391., 15112., 21010., 32172.,
       12191., 12261., 11182., 11130., 16062., 32161., 25010., 72040.,
       23110., 12262., 74020., 22040., 32171., 14022., 12250., 15113.,
       43010., 41081., 16050., 23230., 23210., 15130., 15180., 21020.,
       33120., 23183., 33181., 31191., 41010., 13020., 14010., 31110.,
       31192., 15151., 21040., 41030., 11230., 21050., 31194., 14020.,
       33210., 15210., 32310., 21030., 14050., 31220., 99820., 12181.,
       91010., 32130., 11240., 24020., 14031., 14030., 32110., 31166.,
       32140., 32163., 31182., 13030., 22030., 31150., 31210., 31140.,
       14021., 31193., 14015., 15150., 13040., 22020., 15114., 16063.,
       14081., 43081., 11232., 52010., 12281., 12263., 21061., 43082.,
       24040., 16030., 93010., 12320., 32167., 41020., 31281., 23310.,
       32164., 31381., 14040., 15160., 12182., 72050., 31310., 73010.,
       41040., 24030., 23220., 23270., 11250., 31162., 23620., 15220.,
       32261., 32120., 32162., 32263., 32262., 32169., 32170., 15125.,
       23640., 12382., 15190., 43073., 13081., 32210., 31130., 23360.,
       11231., 31282., 31165., 32166., 23510., 11260., 32268., 31195.,
       51010., 16020., 15142., 32168., 23182., 23410., 23181., 32264.,
       32266., 53030., 25020., 15153., 21081., 16040., 16064., 32220.,
         998.,   300.,   200.,   230.,   320.,   210.,   323.,   321.,
         236.,   220.,   160.,   121., 13010., 14032.,   322.,   311.,
         232.,   122.,   313., 15152.,   233., 15230., 53040.,   231.,
         100., 33140., 33150., 23340., 31382., 33130.,   312., 60040.])

In [ ]:
counting = counting[pd.notnull(counting['LongDescription'])]

In [ ]:
counting.shape

(66568, 94)

In [ ]:
counting = counting[counting['LongDescription'].str.len() > 25].reset_index(drop=True).copy()

In [ ]:
counting.shape

(63977, 94)

## Total budget

In [ ]:
counting.head(2)

,Unnamed: 0,Year,DonorCode,DonorName,AgencyCode,AgencyName,CrsID,ProjectNumber,InitialReport,RecipientCode,...,USD_Outstanding,USD_Arrears_Principal,USD_Arrears_Interest,CapitalExpend,PSIflag,PSIAddType,PSIAddAssess,PSIAddDevObj,LDCflag,LDCflagName
0,0,2020,742.0,Korea,2.0,Export-Import Bank of Korea,2019145042,18ED00039,3.0,640.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020,742.0,Korea,4.0,Korea International Cooperation Agency,2018124404,2018040156649,3.0,266.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Find KOICA ratio

In [ ]:
koica_rate = counting.copy()

In [ ]:
koica_rate.columns

Index(['Unnamed: 0', 'Year', 'DonorCode', 'DonorName', 'AgencyCode',
       'AgencyName', 'CrsID', 'ProjectNumber', 'InitialReport',
       'RecipientCode', 'RecipientName', 'RegionCode', 'RegionName',
       'IncomegroupCode', 'IncomegroupName', 'FlowCode', 'FlowName',
       'Bi_Multi', 'Category', 'Finance_t', 'Aid_t', 'USD_Commitment',
       'USD_Disbursement', 'USD_Received', 'USD_Commitment_Defl',
       'USD_Disbursement_Defl', 'USD_Received_Defl', 'USD_Adjustment',
       'USD_Adjustment_Defl', 'USD_AmountUntied', 'USD_AmountPartialTied',
       'USD_AmountTied', 'USD_AmountUntied_Defl', 'USD_AmountPartialTied_Defl',
       'USD_Amounttied_Defl', 'USD_IRTC', 'USD_Expert_Commitment',
       'USD_Expert_Extended', 'USD_Export_Credit', 'CurrencyCode',
       'Commitment_National', 'Disbursement_National', 'GrantEquiv',
       'USD_GrantEquiv', 'ShortDescription', 'ProjectTitle', 'PurposeCode',
       'PurposeName', 'SectorCode', 'SectorName', 'ChannelCode', 'ChannelName',
       'ChannelReportedName', 'ParentChannelCode', 'Geography',
       'ExpectedStartDate', 'CompletionDate', 'LongDescription', 'SDGfocus',
       'Keywords', 'Gender', 'Environment', 'PDGG', 'Trade', 'RMNCH', 'DRR',
       'Nutrition', 'Disability', 'FTC', 'PBA', 'InvestmentProject',
       'AssocFinance', 'Biodiversity', 'ClimateMitigation',
       'ClimateAdaptation', 'Desertification', 'CommitmentDate',
       'TypeRepayment', 'NumberRepayment', 'Interest1', 'Interest2',
       'Repaydate1', 'Repaydate2', 'USD_Interest', 'USD_Outstanding',
       'USD_Arrears_Principal', 'USD_Arrears_Interest', 'CapitalExpend',
       'PSIflag', 'PSIAddType', 'PSIAddAssess', 'PSIAddDevObj', 'LDCflag',
       'LDCflagName'],
      dtype='object')

In [ ]:
koica_rate['AgencyName'].unique()

array(['Export-Import Bank of Korea',
       'Korea International Cooperation Agency', 'Miscellaneous',
       'Ministry of Foreign Affairs and Trade',
       'Ministry of Strategy and Finance'], dtype=object)

In [ ]:
koica_rate[koica_rate['AgencyName']=='Korea International Cooperation Agency'].head(2)

,Unnamed: 0,Year,DonorCode,DonorName,AgencyCode,AgencyName,CrsID,ProjectNumber,InitialReport,RecipientCode,...,USD_Outstanding,USD_Arrears_Principal,USD_Arrears_Interest,CapitalExpend,PSIflag,PSIAddType,PSIAddAssess,PSIAddDevObj,LDCflag,LDCflagName
1,1,2020,742.0,Korea,4.0,Korea International Cooperation Agency,2018124404,2018040156649,3.0,266.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2020,742.0,Korea,4.0,Korea International Cooperation Agency,2019155555,2019040103056,3.0,285.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
koica_rate[koica_rate['AgencyCode']==4].shape

(46793, 94)

In [ ]:
koica_rate['Year'].unique()

array([2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010])

## Aggregate by sector

In [ ]:
data = counting.copy()

In [ ]:
data = data[pd.notnull(data['LongDescription'])]

In [ ]:
data.shape

(63977, 94)

In [ ]:
data['len'] = data['LongDescription'].apply(lambda s : len(s))

In [ ]:
count_df = data[['PurposeCode','LongDescription']].groupby('PurposeCode').aggregate({'LongDescription':'count'}).reset_index().sort_values('LongDescription',ascending=False)
count_df.head()

    PurposeCode  LongDescription
85      22040.0             4791
46      15110.0             4635
13      11420.0             4387
4       11220.0             3356
5       11230.0             2949

In [ ]:
target_code = count_df[count_df['LongDescription']>100]['PurposeCode'].values
count_df['PurposeCode'].unique()

array([22040., 15110., 11420., 11220., 11230., 11110., 11120., 31120.,
       43040., 11330., 12220., 16061., 12191., 11320., 31181., 16010.,
       99810., 21020., 21050., 15130., 12110., 72010., 11240., 11430.,
       22010., 43030., 11130., 43010., 32171., 41010., 12230., 31110.,
       15170., 14010., 32310., 74020., 15111., 25010., 14020., 33120.,
       31161., 33110., 32182., 14050., 21010., 12181., 31320., 23110.,
       23630., 12264., 31163., 33181., 15112., 24010., 12261., 31166.,
       15210., 32172., 21030., 13020., 41082., 32130., 33210., 43082.,
       12250., 91010., 16020., 15113., 14030., 16062., 22020., 32161.,
       41081., 16050., 23230., 31194., 31140., 32163., 12240., 15151.,
       31310., 31381., 23210., 32110., 15114., 31210., 15160., 72040.,
       31220., 43060., 31182., 22030., 21040., 23510., 31191., 16030.,
       99820., 14015., 11182., 16063., 23183., 33140., 15250., 11260.,
       12281., 31281., 31195., 32262., 31162., 32220., 73010., 14031.,
       14021., 23181., 12263., 31192., 12182., 31150., 32120., 31391.,
       72050., 43081., 13081., 32140., 13040., 32210., 41020., 23220.,
       31193., 23640., 15150., 24040., 14022., 12262., 14040., 14081.,
       52010., 23182., 23320., 16040., 32167., 15180., 41030., 11232.,
       15152., 24030., 24081., 53040., 21081., 15153., 32168., 13030.,
       31130., 53030., 24020., 23270., 15220., 23310., 41040., 14032.,
       32268., 93010., 31282., 13010., 23340., 32164., 15142., 25020.,
       15230., 15125., 23620., 33130., 11250., 31382., 60040., 12382.,
       23360., 43073., 12320., 51010., 15190., 32162., 23410., 16064.,
       31165., 21061., 11231., 32261., 33150.])

In [ ]:
def condition_parser(x):
    if x in target_code:
        return x
    else:
        return "OTHER"
    
data['PurposeCode'] = data['PurposeCode'].apply(lambda x: condition_parser(x))

In [ ]:
data['PurposeCode'].unique()

array([12230.0, 31120.0, 11420.0, 22010.0, 31161.0, 23630.0, 33110.0,
       12240.0, 43040.0, 12264.0, 31163.0, 11110.0, 99810.0, 43030.0,
       11320.0, 11120.0, 12220.0, 31320.0, 32182.0, 24010.0, 16061.0,
       15170.0, 15110.0, 31181.0, 11430.0, 11330.0, 16010.0, 'OTHER',
       11220.0, 41082.0, 72010.0, 15111.0, 15112.0, 21010.0, 32172.0,
       12191.0, 12110.0, 12261.0, 11130.0, 16062.0, 32161.0, 25010.0,
       72040.0, 23110.0, 74020.0, 22040.0, 32171.0, 12250.0, 15113.0,
       43010.0, 41081.0, 16050.0, 23230.0, 23210.0, 15130.0, 21020.0,
       33120.0, 33181.0, 41010.0, 13020.0, 14010.0, 15151.0, 11230.0,
       21050.0, 31194.0, 14020.0, 33210.0, 15210.0, 32310.0, 21030.0,
       14050.0, 31220.0, 12181.0, 91010.0, 31110.0, 32130.0, 11240.0,
       32110.0, 31166.0, 14030.0, 32163.0, 31210.0, 31140.0, 22020.0,
       15114.0, 43082.0, 31381.0, 15160.0, 31310.0, 16020.0], dtype=object)

In [ ]:
data = data[data['PurposeCode']!='OTHER']

In [ ]:
data.shape

(60540, 95)

In [ ]:
categories = {"education": [110,111,112,113,114],
              "Health" : [120,121,122,123],
              "pop_policies" : [130],
              "Water": [140],
              "Government" : [150,151,152],
              "Other" : [160],
              "Transport" : [210],
              "Communications" : [220],
              "Energy" : [230,231,232,233,234,235,236],
              "Banking" : [240],
              "Business" : [250],
              "Agriculture" : [310,311,312,313],
              "Industry" : [320,321,322,323],
              "Trade" : [330,331,332],
              "Environment": [410],
              "Multisector" : [430],
              "General" : [510],
              "Food": [520],
              "Commodity" : [530],
              "Action" : [600],
              "Emergency" : [720],
              "Reconstruction" : [730],
              "Disaster" : [740],
              "Administrative": [910],
              "Refugees" : [930],
              "Unallocated" : [998]}

In [ ]:
data.head(2)

,Unnamed: 0,Year,DonorCode,DonorName,AgencyCode,AgencyName,CrsID,ProjectNumber,InitialReport,RecipientCode,...,USD_Arrears_Principal,USD_Arrears_Interest,CapitalExpend,PSIflag,PSIAddType,PSIAddAssess,PSIAddDevObj,LDCflag,LDCflagName,len
0,0,2020,742.0,Korea,2.0,Export-Import Bank of Korea,2019145042,18ED00039,3.0,640.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81
1,1,2020,742.0,Korea,4.0,Korea International Cooperation Agency,2018124404,2018040156649,3.0,266.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,223

In [ ]:
data.columns

Index(['Unnamed: 0', 'Year', 'DonorCode', 'DonorName', 'AgencyCode',
       'AgencyName', 'CrsID', 'ProjectNumber', 'InitialReport',
       'RecipientCode', 'RecipientName', 'RegionCode', 'RegionName',
       'IncomegroupCode', 'IncomegroupName', 'FlowCode', 'FlowName',
       'Bi_Multi', 'Category', 'Finance_t', 'Aid_t', 'USD_Commitment',
       'USD_Disbursement', 'USD_Received', 'USD_Commitment_Defl',
       'USD_Disbursement_Defl', 'USD_Received_Defl', 'USD_Adjustment',
       'USD_Adjustment_Defl', 'USD_AmountUntied', 'USD_AmountPartialTied',
       'USD_AmountTied', 'USD_AmountUntied_Defl', 'USD_AmountPartialTied_Defl',
       'USD_Amounttied_Defl', 'USD_IRTC', 'USD_Expert_Commitment',
       'USD_Expert_Extended', 'USD_Export_Credit', 'CurrencyCode',
       'Commitment_National', 'Disbursement_National', 'GrantEquiv',
       'USD_GrantEquiv', 'ShortDescription', 'ProjectTitle', 'PurposeCode',
       'PurposeName', 'SectorCode', 'SectorName', 'ChannelCode', 'ChannelName',
       'ChannelReportedName', 'ParentChannelCode', 'Geography',
       'ExpectedStartDate', 'CompletionDate', 'LongDescription', 'SDGfocus',
       'Keywords', 'Gender', 'Environment', 'PDGG', 'Trade', 'RMNCH', 'DRR',
       'Nutrition', 'Disability', 'FTC', 'PBA', 'InvestmentProject',
       'AssocFinance', 'Biodiversity', 'ClimateMitigation',
       'ClimateAdaptation', 'Desertification', 'CommitmentDate',
       'TypeRepayment', 'NumberRepayment', 'Interest1', 'Interest2',
       'Repaydate1', 'Repaydate2', 'USD_Interest', 'USD_Outstanding',
       'USD_Arrears_Principal', 'USD_Arrears_Interest', 'CapitalExpend',
       'PSIflag', 'PSIAddType', 'PSIAddAssess', 'PSIAddDevObj', 'LDCflag',
       'LDCflagName', 'len'],
      dtype='object')

In [ ]:
nu_list = []
for i, number in data['PurposeCode'].iteritems():
  len = data['len'][i]
  disb = data['USD_Disbursement'][i]
  x = int(str(number)[0:3])
  for z in categories.items():
    if x in z[1]:
      xy = [z[0],len,disb]
      nu_list.append(xy)

In [ ]:
df = pd.DataFrame(nu_list).reset_index(drop=False)
df

       index               0    1         2
0          0          Health   81       NaN
1          1     Agriculture  223  0.005040
2          2       education  116  0.052528
3          3  Communications  180  0.003360
4          4     Agriculture  163  0.001680
...      ...             ...  ...       ...
60535  60535     Multisector  135  0.058854
60536  60536     Multisector  169  0.025099
60537  60537     Multisector  169  0.025099
60538  60538     Multisector  169  0.065922
60539  60539      Government   74  0.003184

[60540 rows x 4 columns]

### Text length

In [ ]:
xy = df.groupby(0, as_index=False)[1].mean()

In [ ]:
xy.sort_values(1, ascending=False)

                 0           1
12     Multisector  192.659171
2          Banking  191.411290
19    pop_policies  178.265403
1      Agriculture  174.105479
3         Business  163.992537
9       Government  162.983514
14           Trade  158.209760
4   Communications  158.063492
17           Water  153.856924
11        Industry  152.455418
18       education  146.562369
7           Energy  146.044084
8      Environment  145.209101
10          Health  143.855119
5         Disaster  138.237530
13           Other  136.424789
16     Unallocated  129.765068
15       Transport  127.852955
0   Administrative  100.110465
6        Emergency   64.852217

In [ ]:
xy2 = df.groupby(0, as_index=False).agg({1:['mean','count']}).reset_index(drop =True)

### observation count

In [ ]:
xy2.sort_values((1, 'count'),ascending=False)

### disbursement stats

In [ ]:
xy3 = df.groupby(0, as_index=False).agg({2:['mean','sum']}).reset_index(drop =True)

In [ ]:
xy3
xy3.sort_values((2, 'sum'),ascending=False)

                 0         2
                        mean          sum
15       Transport  1.139230  2353.648788
18       education  0.110289  2204.240245
10          Health  0.402821  1994.767533
17           Water  0.982933  1253.239448
1      Agriculture  0.191057   974.199855
7           Energy  1.107812   923.914836
9       Government  0.123946   898.113169
12     Multisector  0.192114   597.281184
4   Communications  0.096943   540.551832
6        Emergency  0.642978   522.097762
0   Administrative  2.897486   498.367587
16     Unallocated  0.572876   465.175714
13           Other  0.115313   312.497105
11        Industry  0.077673   169.637627
8      Environment  0.181680   166.237134
19    pop_policies  0.465983    97.390510
14           Trade  0.078009    91.036615
5         Disaster  0.199714    83.480284
3         Business  0.084275    33.878573
2          Banking  0.058520    14.512894

## Purpose code and frequency

In [ ]:
counting['PurposeCode'].groupby([counting.Year]).agg('count')

Year
2010    4367
2011    7514
2012    7093
2013    8529
2014    8620
2015    3985
2016    4218
2017    4071
2018    4339
2019    6089
2020    5152
Name: PurposeCode, dtype: int64

In [ ]:
counting = counting[['PurposeCode','LongDescription']].groupby('PurposeCode').aggregate({'LongDescription':'count'}).reset_index().sort_values('LongDescription',ascending=False)
counting.head()

    PurposeCode  LongDescription
85      22040.0             4791
46      15110.0             4635
13      11420.0             4387
4       11220.0             3356
5       11230.0             2949

In [ ]:
from google.colab import files
counting.to_csv('counting.csv') 
files.download('counting.csv')

# Tabular Analysis

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder
from sklearn.pipeline import make_pipeline
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, roc_auc_score, f1_score, precision_score,recall_score
from sklearn.model_selection import train_test_split

In [ ]:
# Helper Functions 
# How to encode Categorical variables: https://data-newbie.tistory.com/90
def ordinal_encoding(df):
    enc = OrdinalEncoder()
    return enc.fit_transform(df[cat_col].values)
def onehot_encoding(df):
    enc = OneHotEncoder(handle_unknown='ignore')
    return enc.fit_transform(df[cat_col].values)
def _eval(model, X, y):    
    pred_y = model.predict(X)
    prob = model.predict_proba(X)
    true_y = y
    acc = accuracy_score(y_pred=pred_y,y_true=true_y)
#     auroc = roc_auc_score(y_true=y, y_score=prob,multi_class='ovr') # standard ovr auroc
    f1 = f1_score(y_pred=pred_y,y_true=true_y,average='macro')
    precision, recall = precision_score(y_pred=pred_y,y_true=true_y,average='macro'),recall_score(y_pred=pred_y,y_true=true_y,average='macro')
    #,auroc
    return acc,f1,precision,recall

In [ ]:
def column_types(df):
  for i in df.columns:
    class_name = str(type(df[i][0]))
    print("column "+ i + " is " + class_name)

In [ ]:
## SETTINGS and VARIABLES 
enc_method = 'onehot'
# Split categorical variables and numerical variables
cat_col = ['AgencyCode','RecipientCode','RegionCode','ChannelCode','Bi_Multi','FlowCode','Finance_t','SectorCode','ParentChannelCode']
num_col = ['USD_Commitment','USD_Disbursement','Commitment_National','Disbursement_National']
ord_col = ['IncomegroupCode', ]
# Basic classifiers
model_names = ['SVM','RF','MLP','NB'] # SVM , Random Forest,' Multi Layer Perceptron' ,'Naive Bayes'
model_name='RF'

In [ ]:
# LOAD DATASET
tabular = pd.read_csv("drive/MyDrive/crs/crs_final_df_kor.csv", header = 0)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (6,58,59,90,91) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
selected_columns = tabular[['AgencyCode','RecipientCode','RegionCode','ChannelCode','Bi_Multi','FlowCode','Finance_t','SectorCode','ParentChannelCode','USD_Commitment','USD_Disbursement','Commitment_National','Disbursement_National','PurposeCode']].copy()

In [ ]:
selected_columns.head(5)

,AgencyCode,RecipientCode,RegionCode,ChannelCode,Bi_Multi,FlowCode,Finance_t,SectorCode,ParentChannelCode,USD_Commitment,USD_Disbursement,Commitment_National,Disbursement_National,PurposeCode
0,2.0,640.0,10009.0,12001.0,1.0,13.0,421.0,122.0,12000.0,NaN,NaN,NaN,NaN,12230.0
1,4.0,266.0,10003.0,11004.0,1.0,11.0,110.0,311.0,11000.0,0.004998,0.005040,0.004998,0.005040,31120.0
2,99.0,454.0,10006.0,11001.0,1.0,11.0,110.0,114.0,11000.0,0.052528,0.052528,0.052528,0.052528,11420.0
3,4.0,285.0,10003.0,11004.0,1.0,11.0,110.0,220.0,11000.0,0.003332,0.003360,0.003332,0.003360,22010.0
4,4.0,728.0,10008.0,11004.0,1.0,11.0,110.0,311.0,11000.0,0.001666,0.001680,0.001666,0.001680,31161.0

In [ ]:
for i in selected_columns.columns:
  if i in cat_col:
    print('the unique values for column ' + i + ' are')
    print(selected_columns[i].unique())
    if selected_columns[i].isnull().values.any() == True:
      print('The column have nan values')
    else:
      print('No NaN values')

the unique values for column AgencyCode are
[ 2.  4. 99.  3.  1.]
No NaN values
the unique values for column RecipientCode are
[ 640.  266.  454.  285.  728.  259.  610.  238.  753.  437.  660. 9998.
  738.  617.  218.  136.  613.  635.  446.  248.  282.  225.  769.  614.
  765.  338.  666.  229.  625.  288.  261.  755.  142.  269.  645.  549.
  235.  342.  665.  866.  366.  239.  854.  440.  751.  615.  241.  251.
  540.  655.  764.   55.   86.  745.  247.  340.  428.  463.  832.  573.
  336.  130.  364.  489.  139.  255.  349.  862.  272.  543.  611.  351.
  451.   71.  265.  347.  253.  358.  260.  555.   63.  275.  730.  612.
   85.  252.  616.  630.  278.  431.  228.  589.  550.  689.  283.  861.
  227.  425.  798.  354.  257.  880.   89.  236.  280.  298.  273.  383.
  836.  580.  287.   93.   65.  279.  240.  872.  870.   64.  859.  230.
  245.  243.  133.  457.  256.   66.  845.  232.  233.  274.  498.  856.
  249.  231.  244.  860.  289.  889.  271.  352.  268. 1032.  619.  234.
  389.  789. 1031.  381.  384.  831.  378.   57.  679.  377.  434.  460.
  270.  189.  385.  382.  558.  375.   62.]
No NaN values
the unique values for column RegionCode are
[10009. 10003. 10006. 10008. 15006. 10002. 10005. 10011. 10012. 10010.
 10007. 10001. 10004.]
No NaN values
the unique values for column ChannelCode are
[12001. 11004. 11001. 22000. 41143. 11002. 41312. 11003. 51000. 41121.
 31000. 90000. 41126. 41401. 47122. 11000. 47005. 21018. 41140. 41122.
 41305. 41304. 41114. 61004. 41302. 46004. 41301.    nan 41317. 41119.
 41128. 41130. 12003. 47066. 41120. 21016. 30011. 41100. 45001. 41300.
 41307. 40000. 23000. 47011. 46012. 47074. 30010. 41101. 41400. 41308.
 41600. 44001. 47073. 31006. 41123. 47000. 47008. 41106. 47136. 47079.
 12002. 41116. 61008. 62000. 61000. 41146. 47139. 61009. 47080. 47087.
 41112. 41149. 47003. 41104. 44000. 41000. 47027. 62004. 21000. 41127.
 21027. 21023. 47018. 12000. 61001. 41313. 41108. 41144. 41309. 10000.
 47144. 41316. 62009. 47083. 12004. 47041. 41107. 44004. 47022. 13000.
 41148. 41315. 47081. 20000. 62001. 45000. 41103. 47002. 41147. 44002.
 46002. 41145. 41303. 41110. 41306. 43003. 41310. 46015. 44005. 46016.
 41111.]
The column have nan values
the unique values for column Bi_Multi are
[1. 3. 8.]
No NaN values
the unique values for column FlowCode are
[13. 11. 14.]
No NaN values
the unique values for column Finance_t are
[421. 110. 510. 621.]
No NaN values
the unique values for column SectorCode are
[122. 311. 114. 220. 236. 331. 430. 111. 998. 113. 313. 321. 240. 160.
 151. 121. 152. 112. 233. 410. 720. 210. 250. 231. 740. 140. 232. 130.
 332. 323. 312. 910. 520. 930. 123. 730. 322. 235. 510. 234. 530. 300.
 200. 230. 320. 100. 600.]
No NaN values
the unique values for column ParentChannelCode are
[12000. 11000. 22000. 41100. 41300. 51000. 31000. 90000. 41600. 41400.
 47000. 21000. 61000. 46000.    nan 40000. 23000. 44000. 62000. 41000.
 10000. 45000. 13000. 20000. 61009. 43000.]
The column have nan values

In [ ]:
replaced = []

for i in selected_columns.columns:
  print('column ' + i)
  if i in cat_col:
    if selected_columns[i].isnull().values.any() == True:
      x = selected_columns[i].fillna(999)
      print('replace nan with 999')
      replaced.append(x)
    else:
      print('No NaN values')
      x = selected_columns[i]
      replaced.append(x)
  else:
    if selected_columns[i].isnull().values.any() == True:
      x = selected_columns[i].fillna(-1)
      print('replace nan with -1')
      replaced.append(x)
    else:
      print('No NaN values')
      x = selected_columns[i]
      replaced.append(x)

column AgencyCode
No NaN values
column RecipientCode
No NaN values
column RegionCode
No NaN values
column ChannelCode
replace nan with 999
column Bi_Multi
No NaN values
column FlowCode
No NaN values
column Finance_t
No NaN values
column SectorCode
No NaN values
column ParentChannelCode
replace nan with 999
column USD_Commitment
replace nan with -1
column USD_Disbursement
replace nan with -1
column Commitment_National
replace nan with -1
column Disbursement_National
replace nan with -1
column PurposeCode
No NaN values

In [ ]:
tabular = pd.DataFrame(replaced).transpose()

In [ ]:
tabular

,AgencyCode,RecipientCode,RegionCode,ChannelCode,Bi_Multi,FlowCode,Finance_t,SectorCode,ParentChannelCode,USD_Commitment,USD_Disbursement,Commitment_National,Disbursement_National,PurposeCode
0,2.0,640.0,10009.0,12001.0,1.0,13.0,421.0,122.0,12000.0,-1.000000,-1.000000,-1.000000,-1.000000,12230.0
1,4.0,266.0,10003.0,11004.0,1.0,11.0,110.0,311.0,11000.0,0.004998,0.005040,0.004998,0.005040,31120.0
2,99.0,454.0,10006.0,11001.0,1.0,11.0,110.0,114.0,11000.0,0.052528,0.052528,0.052528,0.052528,11420.0
3,4.0,285.0,10003.0,11004.0,1.0,11.0,110.0,220.0,11000.0,0.003332,0.003360,0.003332,0.003360,22010.0
4,4.0,728.0,10008.0,11004.0,1.0,11.0,110.0,311.0,11000.0,0.001666,0.001680,0.001666,0.001680,31161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70264,99.0,769.0,10008.0,11000.0,1.0,11.0,110.0,430.0,11000.0,0.058854,0.058854,0.058854,0.058854,43040.0
70265,99.0,240.0,10003.0,11000.0,1.0,11.0,110.0,430.0,11000.0,0.025099,0.025099,0.025099,0.025099,43040.0
70266,99.0,241.0,10003.0,11000.0,1.0,11.0,110.0,430.0,11000.0,0.025099,0.025099,0.025099,0.025099,43040.0
70267,99.0,238.0,10003.0,11000.0,1.0,11.0,110.0,430.0,11000.0,0.065922,0.065922,0.065922,0.065922,43040.0
70268,4.0,613.0,10009.0,11000.0,1.0,11.0,110.0,151.0,11000.0,0.003184,0.003184,0.003184,0.003184,15130.0

In [ ]:
# Split categorical variables and numerical variables
cat_col = ['AgencyCode','RecipientCode','RegionCode','ChannelCode','Bi_Multi','FlowCode','Finance_t','SectorCode','ParentChannelCode']
num_col = ['USD_Commitment','USD_Disbursement','Commitment_National','Disbursement_National']

if enc_method =='ordinal':
    x_cat = ordinal_encoding(tabular)
elif enc_method=='onehot':
    x_cat = onehot_encoding(tabular)
else:
    raise

x_num = tabular[num_col].values
X = np.hstack([x_cat.toarray(),x_num])
# print(x_cat.shape,x_num.shape,X.shape)
y = tabular['PurposeCode'].values
y_set = list(set(y))
y = [y_set.index(i) for i in y]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

In [ ]:
# MAIN
if model_name=='SVM':
    model = make_pipeline(StandardScaler(), SVC(gamma='auto',probability=True)) # SVM
elif model_name=='RF':
    model = RandomForestClassifier(n_estimators=5,random_state=42) # RF
elif model_name=='MLP':
    model = MLPClassifier(random_state=42, max_iter=300) # MLP
elif model_name == 'NB':
    model = GaussianNB() #NB 
elif model_name=='XGB':
    model = XGBClassifier(eval_metric='mlogloss')

model.fit(X_train,y_train)

acc,f1,prec,recall = _eval(model,X_train,y_train)
print('train:',model_name,acc,f1,prec,recall)

acc,f1,prec,recall = _eval(model,X_test,y_test)
print('test:',model_name,acc,f1,prec,recall)

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

train: RF 0.938592902250289 0.915630799177613 0.9439465450377279 0.8990634694506084
test: RF 0.7342393624590864 0.5416218235497463 0.5668774098491483 0.5431931153326084

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))